
/* APP ------------------------ */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  -webkit-animation: App-logo-spin infinite 20s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Global CSS ------------------------ */

hr{
  margin: 32px 0px; 
}

.pointer{
  cursor: pointer;
  user-select: none;
}
input[type=submit], button {
  border-radius: 5px;
  border: 0;
  background-color: #38A1F3;
  color:white  !important;
  margin:16px 0px;
  padding:8px 32px;
  cursor: pointer;
}

/* Navigation ------------------------ */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

.nav-menu-button{
  display: none;
}

.nav-hidden{
  display: none;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
  
  .nav-menu-button{
    display: list-item;;
  }
  .menu-hidden{
    display: none;
  }
}


/* Card ------------------------ */

.Card{
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  padding:8px;
  margin: 8px 16px;
  box-sizing: content-box;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  background-color: #fff;
}

/* FeedItem ------------------------ */

.FeedItemAutorAndBtnContainer{
  height: auto;
  overflow: hidden;
}
.FeedItemAuthor{
  width: auto;
  overflow: hidden;
}
.FeedItemName{
  font-weight: bold;
  font-size: 80%;
}
.FeedItemDate{
  font-size: 66%;
  color: grey;
  margin-top: 4px;
}
.FeedItemBtnArea{
  width: 32px;
  float: right;
}
.FeedItemBtn{
  width: 32px;
  height: 32px;
  background-color: #eee;
  border-radius: 50%;
  cursor: pointer;

  align-items: center;
  justify-content: center;
  text-align:center;
}
.FeedItemBtn:hover{
  background-color: #38A1F3;
  color:white  !important;;
}
.FeedItemContent{
  display: block;
  width: 100%;
  margin: 16px 0px 8px;
}
